* {
  font-family: "DM Sans", "sans-serif";
  color: #fff;
  list-style: none;
  text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1800px;
}

header {
    background-image: url(/images/poster.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 37.5em;
    width: 100%; 
}

.movie-navigation {
    
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5.938em;
    padding-top: 0.938em;
    margin-right: 5.938em;
}

.movie-navigation .movie-logo {
    display: inline-flex;
    gap: 1.5em;  
}

.movie-search-box{
    position: relative;
    display: flex;
    align-items: center;
    
}

.movie-search-box i{
    left: 1.25em;
    position: absolute;
    margin-left: 23.75em;
}
.movie-search-box input {
    width: 32.813em;
    height: 2.25em;
    background-color: transparent;
    border: 0.125em solid #D1D5DB;
    border-radius: 0.375em;
}
.movie-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    gap: 1.688em;

}

.movie-menu h2{
    font-size: 1rem;
}

.movie-menu i{
    background-color: #7756A0;;
    border-radius: 100%;
    width: 2.25em;
    height: 2.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-nav-items {
    display: flex;
    flex-direction: column;
}

.movie-side-nav{
  background: #7756A0;
  position: fixed;
  width: 16.938em;
  height: 37.5em;
  top: 0;
  right: 0;
  padding: 20px 0;
  transition:  mymove all 300ms ease-in-out;
  overflow: hidden;
  margin-right: 0px;
  margin-top: 0px;
  z-index: 1;
  display: none;
  animation:  fading 3s linear 1s normal;
  
  

}

.side-nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.688em;
}
.side-nav-header i{
    font-size: 1.5rem;
}

.movie-side-nav ul{
    padding-left: 0%;
}

.movie-side-nav ul li a {
    display: block;
    padding: 18px 30px;
    font-size: 15px;
    position: relative;
  }

  .movie-side-nav ul li a .icon {
    width: 30px;
    display: inline-block;
  }

  .movie-side-nav ul li a i {
   font-size: 1.2rem;
  }

  .movie-side-nav ul li a:hover {
    background: #211825;
    border-left: 8px solid #fff;
  }

  .movie-description-box {
    width: 25.25em;
    height: 17.813em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 6.125em;
    margin-top: 0.4em;
  }

  #desc-title {
    font-size:3rem;
    font-weight: 700;
  }

  .decs-rating {
    width: 11.5em;
    height: 1.063em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .movie-imdb-rate,
  .movie-rotten-rate
   {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625em;
  }

  .movie-imdb-rate h2, 
  .movie-rotten-rate h2{
    font-size: 0.75rem;
  }

  #desc-p {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .desc-btn {
  padding: 0.375em 1em;
  width: 169px;
  height: 2.25em;
  background: #657eff;
  border-radius: 6px;
  gap: 8px;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  }








  @media screen and (max-width: 900px) {
    .movie-navigation .movie-logo {
        font-size: 10px;
    }
    .movie-search-box input {
       float: none;
       width: 16.40em;
    }
    #icon-input {
    left: -12.23em;;
    position: absolute;
    }
  }

  


  




